<div
  class="d-flex justify-content-center align-items-center vh-100"
  *ngIf="!error && !isFetched"
>
  <div
    class="spinner-border text-warning"
    style="width: 300px; height: 300px"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="alert alert-success mt-5" role="alert" *ngIf="id">
  Congratulations! <strong>Student Id : {{ id }}</strong>
</div>

<div class="alert alert-danger mt-5" role="alert" *ngIf="error">
  There Is an Error
</div>

<div class="alert alert-danger mt-5" role="alert" *ngIf="error && !isFetched">
  <h4 class="alert-heading">Error!</h4>
  <p>Message : {{ error }}</p>
  <hr />
  <p class="mb-0">Please Try Again!</p>
</div>

<form
  action=""
  (ngSubmit)="onFormSubmit(form)"
  #form="ngForm"
  *ngIf="!error && isFetched"
>
  <div class="">
    <div class="mt-3" ngModelGroup="studentData">
      <div class="fs-3 fw-semibold">Create Student</div>
      <hr>
      <div class="card mt-3">
        <h5 class="card-header">Instructions</h5>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Please Enter Details Asked Below</p>
        </div>
      </div>
      <div class="card mt-3">
        <h5 class="card-header">Basic Details</h5>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <div class="card-text">
            <!-- Form Controls -->
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Name"
                name="name"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Mobile Number</label>
              <input
                type="number"
                class="form-control"
                placeholder="Ex : 8765431201"
                name="phoneNo"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Gender</label
              >
              <select
                class="form-select"
                aria-label="Default select example"
                name="gender"
                ngModel
                required
              >
                <option selected>Open this select menu</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Aadhar Number</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ex : 121 212 111"
                name="aadharNo"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Cast</label
              >
              <select
                class="form-select"
                aria-label="Default select example"
                name="cast"
                ngModel
                required
              >
                <option selected>Open this select menu</option>
                <option value="OC">OC</option>
                <option value="BC">BC</option>
                <option value="SC">SC</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Date Of Birth</label
              >
              <input
                type="date"
                ngModel
                required
                class="form-control"
                name="dob"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Image</label
              >
              <input
                type="file"
                name="image"
                ngModel
                required
                class="form-control"
                (change)="onFileSelected($event)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <h5 class="card-header">Parent Details</h5>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <div class="card-text">
            <!-- Form Controls -->
            <div class="mb-3">
              <label class="form-label">Father Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Father Name"
                name="fatherName"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Mother Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Mother Name"
                name="motherName"
                ngModel
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <h5 class="card-header">Address Details</h5>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <div class="card-text">
            <!-- Form Controls -->
            <div class="mb-3">
              <label class="form-label">Address</label>
              <input
                type="text"
                class="form-control"
                name="address"
                placeholder="Enter Address"
                ngModel
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <h5 class="card-header">Miscellaneous Details</h5>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <div class="card-text">
            <!-- Form Controls -->
            <div class="mb-3">
              <label class="form-label">Previous School</label>
              <input
                type="text"
                class="form-control"
                placeholder="School Name"
                name="prevSchool"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Date Of Joining</label>
              <input
                type="date"
                name="dateOfJoining"
                class="form-control"
                id=""
                ngModel
                required
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3" ngModelGroup="feeData">
      <div class="card mt-3">
        <h5 class="card-header">Fee Details</h5>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <div class="card-text">
            <!-- Form Controls -->
            <div class="mb-3">
              <label class="form-label">Standard</label>
              <select
                name="standard"
                ngModel
                required
                class="form-select"
                (change)="onGradeSelected($event)"
              >
                <option value="" selected>Select One Of Below Options</option>
                <option value="nursery">Nursery</option>
                <option value="lkg">LKG</option>
                <option value="ukg">UKG</option>
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
                <option value="VI">VI</option>
                <option value="VII">VII</option>
                <option value="VIII">VIII</option>
                <option value="IX">IX</option>
                <option value="X">X</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Actual Fee</label>
              <input
                type="text"
                class="form-control"
                placeholder="Actual Fee"
                name="actualFee"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Book Fee</label>
              <input
                type="text"
                name="bookFee"
                ngModel
                required
                class="form-control"
                placeholder="Book Fee"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Tution Fee</label>
              <input
                type="text"
                class="form-control"
                placeholder="Tution Fee"
                name="tutionFee"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Transport Fee</label>
              <input
                type="text"
                class="form-control"
                placeholder="Transport Fee"
                name="transportFee"
                ngModel
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Discount</label>
              <input
                type="text"
                class="form-control"
                name="discount"
                placeholder="discount"
                ngModel
                required
                (change)="onHandleDiscount($event)"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Total Fee</label>
              <input
                type="text"
                class="form-control"
                name="totalFee"
                placeholder="Total Fee"
                ngModel
                required
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary my-3 me-3">Submit</button>
    <button
      type="button"
      class="btn btn-primary my-3"
      (click)="generateDummy()"
    >
      Generate Dummy
    </button>
  </div>
</form>
